	<section class="home">
		<div class="home-slider home-slider-half-page">
	        <div class="swiper-wrapper">
	            <div class="swiper-slide home-slider-centered" id = "bg1">
	           		<h1 class="light wow fadeInDown mb-30">over 430 000<br/> flats, houses, plots</h1>
	            	<a class="btn btn-primary wow fadeInUp">browse <span class="ti-arrow-right light"></span></a>
	            </div>
	            <div class="swiper-slide home-slider-centered" id = "bg2">
	            	<h1 class="light wow fadeInDown mb-30">over 430 000<br/> flats, houses, plots</h1>
	            	<a class="btn btn-primary wow fadeInUp">browse <span class="ti-arrow-right light"></span></a>
	            </div>
	        </div>
	        <!-- Add Pagination -->
	        <div class="home-slider-pagination"></div>
			
			<div class="home-slider-prev left-arrow">
				<span class="ti-angle-left"></span>
			</div>

			<div class="home-slider-next right-arrow">
				<span class="ti-angle-right"></span>
			</div>
		</div>
	</section>

	<section class="padding">
		<div class="container">
			<div class="row">
			<div class="col-md-12">
				<h4 class="heading">Featured adds</h4>
			</div>
			<!-- / single offer box-->
				<div class="col-md-4">
					<div class="offer-box">
							<div class="offer-box-head">
								<div class="offer-slider">
									<div class="swiper-wrapper">
										<div class="swiper-slide"><%= image_tag("offer/01.jpg", :alt=>"offer image")%></div>
										<div class="swiper-slide"><%= image_tag("offer/02.jpg", :alt=>"offer image")%></div>
									</div>

									<div class="offer-pagination-prev left-arrow">
										<span class="ti-angle-left"></span>
									</div>

									<div class="offer-pagination-next right-arrow">
										<span class="ti-angle-right"></span>
									</div>
								</div>
								<span class="offer-box-price">$350pw</span>
								<span class="offer-box-label"><span class="ti-star"></span>featured</span>	
							</div>
							<a href="#"> 
							<span class="h4 offer-box-title">Spacious 1 Bed Flat near Bermondsey Sq. Lovely Period property</span>
							<span class="offer-box-location"><span class="ti-location-pin"></span>Tower Bridge, London </span>
							
							<span class="offer-box-meta">Nordman Agency | 30 Nov 2016 | Flat | 2 Beds</span>
						</a>
					</div>
				</div>
			<!-- / single offer box-->

			<!-- / single offer box-->
				<div class="col-md-4">
					<div class="offer-box">
							<div class="offer-box-head">
								<div class="offer-slider">
									<div class="swiper-wrapper">
										<div class="swiper-slide"><%= image_tag("offer/03.jpg", :alt=>"offer image") %></div>
										<div class="swiper-slide"><%= image_tag("offer/04.jpg", :alt=>"offer image") %></div>
									</div>

									<div class="offer-pagination-prev left-arrow">
										<span class="ti-angle-left"></span>
									</div>

									<div class="offer-pagination-next right-arrow">
										<span class="ti-angle-right"></span>
									</div>
								</div>
								<span class="offer-box-price">$350pw</span>
								<span class="offer-box-label"><span class="ti-star"></span>featured</span>	
							</div>
							<a href="#"> 
							<span class="h4 offer-box-title">Spacious 1 Bed Flat near Bermondsey Sq. Lovely Period property</span>
							<span class="offer-box-location"><span class="ti-location-pin"></span>Tower Bridge, London </span>
							
							<span class="offer-box-meta">Nordman Agency | 30 Nov 2016 | Flat | 2 Beds</span>
						</a>
					</div>
				</div>
			<!-- / single offer box-->

			<!-- / single offer box-->
				<div class="col-md-4">
					<div class="offer-box">
							<div class="offer-box-head">
								<div class="offer-slider">
									<div class="swiper-wrapper">
										<div class="swiper-slide"><%= image_tag("offer/05.jpg", :alt=>"offer image") %></div>
										<div class="swiper-slide"><%= image_tag("offer/06.jpg", :alt=>"offer image") %></div>
									</div>

									<div class="offer-pagination-prev left-arrow">
										<span class="ti-angle-left"></span>
									</div>

									<div class="offer-pagination-next right-arrow">
										<span class="ti-angle-right"></span>
									</div>
								</div>
								<span class="offer-box-price">$350pw</span>
								<span class="offer-box-label"><span class="ti-star"></span>featured</span>	
							</div>
							<a href="#"> 
							<span class="h4 offer-box-title">Spacious 1 Bed Flat near Bermondsey Sq. Lovely Period property</span>
							<span class="offer-box-location"><span class="ti-location-pin"></span>Tower Bridge, London </span>
							
							<span class="offer-box-meta">Nordman Agency | 30 Nov 2016 | Flat | 2 Beds</span>
						</a>
					</div>
				</div>
			<!-- / single offer box-->
			<!-- / single offer box-->
				<div class="col-md-4">
					<div class="offer-box">
							<div class="offer-box-head">
								<div class="offer-slider">
									<div class="swiper-wrapper">
										<div class="swiper-slide"><%= image_tag("offer/06.jpg", :alt=>"offer image") %></div>
										<div class="swiper-slide"><%= image_tag("offer/07.jpg", :alt=>"offer image") %></div>
									</div>

									<div class="offer-pagination-prev left-arrow">
										<span class="ti-angle-left"></span>
									</div>

									<div class="offer-pagination-next right-arrow">
										<span class="ti-angle-right"></span>
									</div>
								</div>
								<span class="offer-box-price">$350pw</span>
								<span class="offer-box-label"><span class="ti-star"></span>featured</span>	
							</div>
							<a href="#"> 
							<span class="h4 offer-box-title">Spacious 1 Bed Flat near Bermondsey Sq. Lovely Period property</span>
							<span class="offer-box-location"><span class="ti-location-pin"></span>Tower Bridge, London </span>
							
							<span class="offer-box-meta">Nordman Agency | 30 Nov 2016 | Flat | 2 Beds</span>
						</a>
					</div>
				</div>
			<!-- / single offer box-->

			<!-- / single offer box-->
				<div class="col-md-4">
					<div class="offer-box">
							<div class="offer-box-head">
								<div class="offer-slider">
									<div class="swiper-wrapper">
										<div class="swiper-slide"><%= image_tag("offer/08.jpg", :alt=>"offer image") %></div>
										<div class="swiper-slide"><%= image_tag("offer/09.jpg", :alt=>"offer image") %></div>
									</div>

									<div class="offer-pagination-prev left-arrow">
										<span class="ti-angle-left"></span>
									</div>

									<div class="offer-pagination-next right-arrow">
										<span class="ti-angle-right"></span>
									</div>
								</div>
								<span class="offer-box-price">$350pw</span>
								<span class="offer-box-label"><span class="ti-star"></span>featured</span>	
							</div>
							<a href="#"> 
							<span class="h4 offer-box-title">Spacious 1 Bed Flat near Bermondsey Sq. Lovely Period property</span>
							<span class="offer-box-location"><span class="ti-location-pin"></span>Tower Bridge, London </span>
							
							<span class="offer-box-meta">Nordman Agency | 30 Nov 2016 | Flat | 2 Beds</span>
						</a>
					</div>
				</div>
			<!-- / single offer box-->

			<!-- / single offer box-->
				<div class="col-md-4">
					<div class="offer-box">
							<div class="offer-box-head">
								<div class="offer-slider">
									<div class="swiper-wrapper">
										<div class="swiper-slide"><%= image_tag("offer/10.jpg", :alt=>"offer image") %></div>
										<div class="swiper-slide"><%= image_tag("offer/01.jpg", :alt=>"offer image") %></div>
									</div>

									<div class="offer-pagination-prev left-arrow">
										<span class="ti-angle-left"></span>
									</div>

									<div class="offer-pagination-next right-arrow">
										<span class="ti-angle-right"></span>
									</div>
								</div>
								<span class="offer-box-price">$350pw</span>
								<span class="offer-box-label"><span class="ti-star"></span>featured</span>	
							</div>
							<a href="#"> 
							<span class="h4 offer-box-title">Spacious 1 Bed Flat near Bermondsey Sq. Lovely Period property</span>
							<span class="offer-box-location"><span class="ti-location-pin"></span>Tower Bridge, London </span>
							
							<span class="offer-box-meta">Nordman Agency | 30 Nov 2016 | Flat | 2 Beds</span>
						</a>
					</div>
				</div>
			<!-- / single offer box-->
				<div class="col-md-12 text-center">
					<a class="btn btn-default" href="#">view all <span class="ti-angle-right"></span></a>
				</div>
			</div><!--/ row -->
		</div><!--/ container -->
	</section>
	

	<section class="text-center padding light-bg">
		<div class="about-counter" id="about-counter">
			
			<div class="container">
				<div class="row">
					<div class="col-md-3 wow fadeInLeft about-counter-single" data-wow-delay="0.2s" data-wow-duration="1s" data-wow-offset="0">
						<div class="counter"> <span class="ti-crown icon"></span>
							<h2 class="timer">250</h2>
							<p> Projects Finished </p>
						</div>
					</div>
					<div class="col-md-3 wow fadeInLeft about-counter-single" data-wow-delay="0.3s" data-wow-duration="1s" data-wow-offset="0">
						<div class="counter"> <span class="ti-shortcode icon"></span>
							<h2 class="timer">28256</h2>
							<p> Line Of Coding </p>
						</div>
					</div>
					<div class="col-md-3 wow fadeInLeft about-counter-single" data-wow-delay="0.4s" data-wow-duration="1s" data-wow-offset="0">
						<div class="counter"> <span class="ti-cup icon"></span>
							<h2 class="timer">42</h2>
							<p> Award Won </p>
						</div>
					</div>
					<div class="col-md-3 wow fadeInLeft" data-wow-delay="0.5s" data-wow-duration="1s" data-wow-offset="0">
						<div class="counter"> <span class="ti-comments-smiley icon"></span>
							<h2 class="timer">240</h2>
							<p> Satisfied Clients </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

