
<div class="row" align="center">
  <div class="col-xs-12 col-md-offset-4 col-md-4">
             <div class="contact-form contact-form-box border mt-30 mb-30">
             <h5 align="center">Resend confirmation instructions</h5><br>
                      
                      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }, :class => "mt-30") do |f| %>
                      <%= devise_error_messages! %>
                          <div class="form-group">
                              <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), :class => "form-control", :placeholder => "Email"%>
                          </div>

                          <%= f.submit "Renvoyez moi l'email de confirmation", :id => "submit", :class => "btn btn-primary col-md-12 btn-lg text-center float-right"%>

                          <%= render "devise/shared/links" %>
                      <% end %>
              </div>                
  </div>
</div>



