
<div class="row" align="center">
  <div class="col-xs-12 col-md-offset-4 col-md-4">
             <div class="contact-form contact-form-box border mt-30 mb-30">
             
             <h5 class= "headtitle">S'inscrire</h5><br>
                      
                      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :class => "mt-30") do |f| %>
                      <%= devise_error_messages! %>
                          <div class="form-group">
                              <%= f.email_field :email, autofocus: true, autocomplete: "email" , :class => "form-control", :placeholder => "Email"%>
                          </div>

                          <div class="form-group">
                              <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "Mot de passe"%>
                          </div>

                          <div class="form-group">
                              <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control", :placeholder => "Confirmation de mot de passe"%>
                          </div>
                          
                          <div class="form-group">
                              <%= f.text_field :name, autocomplete: "off", :class => "form-control", :placeholder => "Prénom"%>
                          </div>
                          <br>
                          <div class="form-group">
                            <%= f.label "Adresse", id: "formlabeladdress" %>
                              <%= f.text_field :address, autocomplete: "off", :class => "form-control", type: "search", id: "form-address", placeholder: "Adresse"%>
                          </div>

                          

                            <script src="https://cdn.jsdelivr.net/npm/places.js@1.6.0"></script>
                            <script>
                                (function() {
                                    var placesAutocomplete = places({
                                      container: document.querySelector('#form-address'),
                                      type: 'address',
                                      templates: {
                                        value: function(suggestion) {
                                          return suggestion.name;
                                        }
                                      }
                                    });
                                    placesAutocomplete.on('change', function resultSelected(e) {
                                      document.querySelector('#form-zip').value = e.suggestion.postcode || '';
                                    });
                                  })();
                            </script>

                           <div class="form-group">
                              <%= f.text_field :postal_code, autocomplete: "off", :class => "form-control", :placeholder => "Code postal", id: "form-zip"%>
                          </div>
                          

                          <%= f.submit "S'inscrire", :id => "submit", :class => "btn btn-primary col-md-12 btn-lg text-center float-right", style: "margin-bottom: 20px;"%>
                          
                          <%= render "devise/shared/links" %>
                      <% end %>
              </div>                
  </div>
</div>

