
<div class="row" align="center">
  <div class="col-xs-12 col-md-offset-4 col-md-4">
             <div class="contact-form contact-form-box border mt-30 mb-30">
             <h5 align="center">S'inscrire</h5><br>
                      
                      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :class => "mt-30") do |f| %>
                      <%= devise_error_messages! %>
                          <div class="form-group">
                              <%= f.email_field :email, autofocus: true, autocomplete: "email" , :class => "form-control", :placeholder => "Email"%>
                          </div>

                          <div class="form-group">
                              <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "Mot de passe"%>
                          </div>

                          <div class="form-group">
                              <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control", :placeholder => "Confirmation de mot de passe"%>
                          </div>
                          
                          <div class="form-group">
                              <%= f.text_field :name, autocomplete: "off", :class => "form-control", :placeholder => "Prénom"%>
                          </div>

                          <div class="form-group">
                              <%= f.text_field :address, autocomplete: "off", :class => "form-control", :placeholder => "Adresse précise, CP ou ville"%><i style="font-size: 80%">L'adresse nous permettra de vous proposer les commentaires de vos voisins</i>
                          </div>
                          

                          <%= f.submit "S'inscrire", :id => "submit", :class => "btn btn-primary col-md-12 btn-lg text-center float-right"%>

                          <%= render "devise/shared/links" %>
                      <% end %>
              </div>                
  </div>
</div>

