 <section id = "contactsection">
            <div class = "row headtitle">
                    <h2 class = "bottomreco">Contacter <%=@user.name%></h2>
            </div>

            <div class = "row" id="formmessage">

                       
                            <span>Un des livres préférés de <%= @user.name %> t'intéresse ? Ecris-lui pour lui demander de te le prêter !</span>
                       
                                
                                <div class="panel-body">
                                    <%= form_for(:message, url: send_email_user_path(@user), html: { method: :post }, :remote=>true, :id => "comment-new",  :class => "form-horizontal") do |f| %>
                                    
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <%= f.text_area :body, :class => "form-control", :style => "min-height: 200px;", :placeholder => "Ton message ... " , style: "border: 1px solid #55627033;"%>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <!-- Button -->
                                            <div class="col-md-12 login-btn">
                                                <%= f.submit "Envoyer le message !", :class => "btn btn-primary btn-lg text-center float-right"%>
                                            </div>
                                        </div>
                                    <% end %>
                                </div>
                     
            
                       
            </div>
   </section>