    <div class="container">
        <section id = "profileshow">
            <div class="row ">
                <div class="post padding-medium">                  
                        <div class=" post-content">          
                               <div class = "row">
                                  <div id="contact_show" class = "col-xs-12 col-md-3" align="center">
                                    
                                    <% if @user.avatar? %>
                                      <%= image_tag @user.avatar.url, :class => "post-user mb-30", :id => "avatar"%>  
                                    <% else %>
                                      <%= image_tag "default_avatar.jpeg" %>
                                    <% end %>    
                            
                                    <h3><%= @user.name %></h3>
                                    <% if @user.postal_code? %>
                                      <span class="ti-location-pin icon"></span> <%= @user.postal_code%>
                                    <%end%>
                                    <p id="bio_show"><%= @user.bio %></p> 
                                    <%=link_to edit_user_path(@user) do%>
                                       <span class="icon ti-pencil"></span>
                                     <% end %> 

                                   </div>

                                  <div class = "col-xs-12 col-md-offset-4 col-md-8">                                        
                                    <section id="recoshow">
                                        <div class = "row headtitle">
                                            <% if @user.reviews.count == 0 %>
                                              <h2><%=@user.name%> n'a pas encore écrit de recommandations !</h2>  
                                            <%elsif @user.reviews.count == 1 %>
                                              <h2> La recommandation de <%=@user.name%></h2>
                                            <% else%>
                                              <h2> Les <%=@user.reviews.count%> recommandations de <%=@user.name%></h2>
                                            <% end %>
                                        </div>
                               
                                        <div class="row mt-30">
                                       
                                            <% @reviews.each do |review| %>       
                                                <div class = "col-xs-offset-1 col-xs-10 col-md-4">               
                                                  <% if review.book_cover %>
                                                    <%= image_tag(review.book_cover, :alt=>"offer image", :id => "image_cover")%>
                                                  <% end %>
                                                  <div class = "bookdetails">
                                                    <span class="booktitle"><%=review.book_title%></span><br>
                                                    <span class="bookauthor"> de <%=review.book_author %></span><br><br>
                                                    <div class = "rowlike"><span class = "bookcategory"><%=review.book_category %></span>
                                                       <div id ="<%=review.id%>_likescount">
                                                          <%= render :partial => 'likescount', :locals => { :review => review} %>
                                                       </div>
                                                    </div>
                                                      
                                                  </div>
                                                  <%=link_to edit_review_path(review) do%>
                                                    <span class="icon ti-pencil"></span>
                                                  <% end %>
                                                  <%=link_to(review, method: :delete, data: { confirm: 'Etes vous sûr ?' }) do%>
                                                    <span class="icon ti-trash"></span>
                                                  <% end %>
                                                </div> 
                                                <% end %> 
                                        </div>
                                  </div>





                                               




    


                                                       
                                        </div>


                                           
                                    </section>
                               </div> 
                        </div>                 
                </div>
            </div>
        </section>
    </div>
 