 <div class="container">
             
     <h1> Bienvenue, <%=@user.name%></h1>
           
        <section id = "profile">

            <div class="row ">

                <div class="post">
                   
                        <div class=" post-content">

                            <div class="post-header">
                               <div class = "row">
                                  <div class = "headtitle">
                                    <h2>Vos informations</h2>                                 
                                  </div>

                                  <div class = "col-xs-5 col-md-4">
                                    <img class="post-user mb-30" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsNLHhn2q9dD2MlYx1GXRhJrsYLbm-cBmfr2IVhBlGCot2i1Dg" alt="user avatar">      
                                  </div>

                                  <div class = "col-xs- col-md-offset-1 col-md-3">
                                    <h3><%= @user.name %></h3>
                                    <h4>xx ans</h4>
                                    <h4><%= @user.address %></h4> 
                                  </div> 
                                  <div class = "col-xs-1 col-md-1">
                                    <%=link_to edit_user_path(@user) do%>
                                       <span class="icon ti-pencil"></span>
                                     <% end %>
                                  </div>

                               </div>

                               <div class = "row">
                                   <div class = "col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8">
                                     <%unless  @user.bio %>
                                        <p> Ecrivez un petit texte pour vous présenter !</p>
                                     <%else%>
                                        <p><%= @user.bio %></p>
                                     <%end %>
                                     
                                   </div>
                                    <div class = "col-xs-2 col-md-1">
                                    <%=link_to edit_user_path(@user) do%>
                                       <span class="icon ti-pencil"></span>
                                     <% end %>
                                     
                                   </div>                                  
                               </div>                  
                            </div>
                        </div>
                 
                </div>
            </div>
        </section>

        <section id="recoshow">
            <div class = "row headtitle">
                <h2> Vos recommandations</h2>
            </div>
   
            <div class="row mt-30">
                <% @reviews.each do |review| %>
                  <% @i += 1 %>
                    <div class="col-md-4 wow fadeInLeft">
                        <div class="services-box text-center shadow">

                            
                            <h4><%=review.book_title%> </h4>
                            <h5><%=review.book_author%></h5>
                            <%if review.book_cover%>
                              <%= image_tag(review.book_cover, :class => "cover_profile")%> 
                            <% end %>
                            <a href="#" class="btn btn-margin btn-default btn-lg" data-toggle="modal" data-target="#profile-0<%=@i%>">Lire +</a>
                        </div>
                    </div>
                <% end %>
            <% if @reviews.count <3 %>
                   <%(3-@reviews.count).times do%>

                     <div class="col-md-4 wow fadeInLeft">
                        <div class="services-box text-center shadow">
                            <span class="icon"> + </span>
                            <h4>Ajouter une recommandation</h4>
                            <p class="fixed-height">Faite découvrir un de vos livres préférez
                            </p>
                            <%=link_to 'Ajouter +', new_review_path, class: "btn btn-margin btn-default btn-lg"%>
                           
                        </div>
                      </div> 
                    <%end%>            
             <%end %>            
            </div>


                <!-- / SERVICE MODAL -->
            <% @reviews.each do |review| %>
              <% @j += 1 %>
                <div id="profile-0<%=@j%>" class="modal fade services-modal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content shadow">
                            <a class="close" data-dismiss="modal"><span class="ti-close"></span></a>
                            <div class="modal-body">
                                <div class="post-entry post-entry-modal">

                                    <div class="services-box text-center">
                                        <span class="icon"># <%=@j%></span>
                                        <h4>La recommandation de <%=@user.name%></h4>
                                        <h3><%=review.book_title%>, <%=review.book_author%></h3>
                                        <p>Genre : <%=review.book_category%>
                                        </p>
                                    </div>
                                    <p><%=review.body%></p>                                    
                                   <%if review.book_cover%>
                                     <%= image_tag(review.book_cover, :class => "cover_profile")%> 
                                     
                                   <%end %>                                  
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            <%end%>
            

        </section>       