    <div class="container">
        <section id = "profileshow">
            <div class="row ">
                <div class="post padding-medium">                  
                        <div class=" post-content">          
                               <div class = "row">
                                  <div id="contact_show" class = "col-xs-12 col-md-3" align="center">
                                    
                                    <% if @user.avatar? %>
                                      <%= image_tag @user.avatar.url, :class => "post-user mb-30", :id => "avatar"%>  
                                    <% else %>
                                      <%= image_tag "default_avatar.jpeg" %>
                                    <% end %>    
                            
                                    <h3><%= @user.name %></h3>
                                    <% if @user.postal_code? %>
                                      <span class="ti-location-pin icon"></span> <%= @user.postal_code%>
                                    <%end%>
                                    <p id="bio_show"><%= @user.bio %></p> 
                                    <a id = "contactshow" class="btn btn-primary" data-toggle="collapse" href="#comments-form"><span class="ti-email icon"></span> contacter</a>  

                                   </div>

                                  <div class = "col-xs-12 col-md-offset-4 col-md-8">
        
                                        
                                    <section id="recoshow">
                                        <div class = "row headtitle">
                                            <% if @user.reviews.count == 0 %>
                                              <h2><%=@user.name%> n'a pas encore écrit de recommandations !</h2>  
                                            <%elsif @user.reviews.count == 1 %>
                                              <h2> La recommandation de <%=@user.name%></h2>
                                            <% else%>
                                              <h2> Les <%=@user.reviews.count%> recommandations de <%=@user.name%></h2>
                                            <% end %>
                                        </div>
                               
                                        <div class="row mt-30">
                                            <% @reviews.each do |review| %>

                                                <div class = "row cardreviews">
                                                   <div class = "col-xs-offset-1 col-xs-10 col-md-4">

                                                    <% user_link = User.find(review.user_id) %>

                                                <% if review.book_cover %>
                                                <%= image_tag(review.book_cover, :alt=>"offer image", :id => "image_cover")%>               
                                                <% end %>

                                                  </div>
                                        <div class = "col-xs-offset-1 col-xs-10 col-md-offset-1 col-md-6 bookcarttext">
                                                              <div class = "bookdetails">
                                                  <span class="booktitle"><%=review.book_title%></span><br>
                                                  <span class="bookauthor"> de <%=review.book_author %></span><br><br>
                                                  <div class = "rowlike"><span class = "bookcategory"><%=review.book_category %></span> 
                                                     <div id ="<%=review.id%>_likescount">
                                                        <%= render :partial => 'likescount', :locals => { :review => review} %>
                                                       </div></div>
                                                    
                                              </div>
                                                  <span class="bookauthor">Recommandé par 
                                                    <%= link_to user_link do %>
                                                       <%=User.find(review.user_id).name%>
                                                    <% end %>
                                                     à <%= current_user.distance_from(User.find(review.user_id)).round(2) %> km de chez vous</span>
                                                  
                                                
                                                <a href="#" class="btn btn-default" data-toggle="modal" id="see_review_btn" data-target="#service-0<%=review.id%>" >Lire la recommandation</a>
                                                
                                                <div id ="<%=review.id%>_likes">
                                                <%= render :partial => 'likes', :locals => { :review => review} %>
                                                </div>
                                         </div>



                                       </div>





                                                <% user_link = User.find(review.user_id) %>
                                                  <div id="service-0<%=review.id%>" class="modal fade services-modal" role="dialog">
                                                      <div class="modal-dialog">
                                                          <!-- Modal content-->
                                                          <div class="modal-content shadow">
                                                              <a class="close" data-dismiss="modal"><span class="ti-close"></span></a>
                                                              <div class="modal-body">
                                                                  <div class="post-entry post-entry-modal">

                                                                     
                                                                        <div class = "row">
                                                                          <div class = "col-xs-12 col-md-6">
                                                                             <%if review.book_cover%> <%= image_tag review.book_cover, style: "width: 100%"%><%end %>  
                                                                          </div>
                                                                          <div class = "col-xs-12 col-md-6">
                                                                            <h4 style = "margin-top: 20px;">La recommandation de <%=user_link.name%></h4>
                                                            <span class="booktitle"><%=review.book_title%></span><br>
                                                            <span class="bookauthor"> de <%=review.book_author %></span><br>
                                                                              <span class = "bookcategory"><%=review.book_category %></span> 
                                                                              <p><%=review.body%></p> 
                                                                          </div>
                                                                        </div>
                                                                          
                                                                 
                                                                                                    
                                                                      
                                                                  </div>
                                                              </div>
                                                          </div>
                                                     </div>
                                                  </div>





    


                                            <% end %>            
                                        </div>


                                            <!-- / SERVICE MODAL -->
                                        
                                    </section>
                               </div> 
                        </div>                 
                </div>
            </div>
        </section>
    </div>
    
    <div id ="contact-user" class="row">
      <div class="col-xs-12 col-md-offset-5 col-md-6 col-md-offset-1">
        <%= render :partial => 'messages' %>
      </div>
     </div>
    <div id = "sent"></div>
            
       