
<div class="row" align="center">
  <div class="col-xs-12 col-md-offset-4 col-md-4">
             <div class="contact-form contact-form-box border mt-30 mb-30">
             <h5 align="center">Oubli de mot de passe ?</h5><br>
                      
                      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, :class => "mt-30") do |f| %>
                      <%= devise_error_messages! %>
                          <div class="form-group">
                              <%= f.password_field :email, autofocus: true, autocomplete: "email", :class => "form-control", :placeholder => "Ton email"%>
                          </div>



                          <%= f.submit "Recevoir les instructions", :id => "submit", :class => "btn btn-primary col-md-12 btn-lg text-center float-right", style: "margin-bottom: 20px;"%>
                          <% end %>
                          <%= render "devise/shared/links" %>
                      
              </div>                
  </div>
</div>


