
				<div class="col-xs-12 col-md-12">
					


					  <% user_link = User.find(review.user_id) %>
						<div class="box">
							<div class="offer-box offer-box-horizontal">
									<% if review.book_cover %>
									<div class="offer-box-head">
										<div class="swiper-slide"><%= image_tag(review.book_cover, :alt=>"offer image", :id => "image_cover")%></div>
									</div>
									<% end %>
									 <div>
										<span class="booktitle"><%=review.book_title%></span><br>
										<span class="bookauthor"> de <%=review.book_author %></span><br>
										<span class = "bookcategory"><%=review.book_category %></span><br><br>
										<span class="bookauthor">Recommandé par 
											<%= link_to user_link do %>
											   <%=User.find(review.user_id).name%>
											<% end %>
											, à <%= current_user.distance_from(User.find(review.user_id)).round(2) %> km de chez vous</span>
										<span class="offer-box-meta">Le commentaire sur ce livre : <%= review.body%></span>
									
									<a href="#" class="btn btn-default" data-toggle="modal" id="see_review_btn" data-target="#service-0<%=review.id%>" >Lire la recommandation</a>
									
									
									<%= render :partial => 'likes', :locals => { :review => review} %>
									
									</div>



							</div>
						</div>



		              <% user_link = User.find(review.user_id) %>
		                <div id="service-0<%=review.id%>" class="modal fade services-modal" role="dialog">
		                    <div class="modal-dialog">
		                        <!-- Modal content-->
		                        <div class="modal-content shadow">
		                            <a class="close" data-dismiss="modal"><span class="ti-close"></span></a>
		                            <div class="modal-body">
		                                <div class="post-entry post-entry-modal">

		                                    <div class="services-box text-center">
		                                        
		                                        <h4>La recommandation de <%=user_link.name%></h4>
		                                        <h3><%=review.book_title%>, <%=review.book_author%></h3>
		                                        <p>Genre : <%=review.book_category%>
		                                        </p>
		                                    </div>
		                                    <p><%=review.body%></p>                                    
		                                   <%if review.book_cover%> <%= image_tag review.book_cover%><%end %>                                  
		                               </div>
		                            </div>
		                        </div>
		                    </div>
		                </div>



			        
				</div><!--/ col-md-9-->

		

