
			<div class = "row cardreviews">
                     <div class = "col-xs-offset-1 col-xs-10 col-md-4">

					            <% user_link = User.find(review.user_id) %>

									<% if review.book_cover %>
									<a href="#" data-toggle="modal" id="see_review_btn" data-target="#service-0<%=review.id%>" >
									<%= image_tag(review.book_cover, :alt=>"offer image", :id => "image_cover")%>	
									</a>							
									<% end %>

                    </div>
					<div class = "col-xs-offset-1 col-xs-10 col-md-offset-1 col-md-6 bookcarttext">
                                <div class = "bookdetails">
										<span class="booktitle"><%=review.book_title%></span><br>
										<span class="bookauthor"> de <%=review.book_author %></span><br><br>
										<div class = "rowlike"><span class = "bookcategory"><%=review.book_category %></span> 
										   <div id ="<%=review.id%>_likescount">
										  		<%= render :partial => 'likescount.html.erb', :locals => { :review => review} %>
									       </div></div>
										  
								</div>
										<span class="bookauthor">Recommandé par 
											<%= link_to user_link do %>
											   <%=User.find(review.user_id).name%>
											<% end %>
											 à <%= current_user.distance_from(User.find(review.user_id)).round(2) %> km de chez toi</span>
										
									
									<a href="#" class="btn btn-default" data-toggle="modal" id="see_review_btn" data-target="#service-0<%=review.id%>" >Lire la recommandation</a>
									
									<div id ="<%=review.id%>_likes">
									<%= render :partial => 'likes', :locals => { :review => review} %>
									</div>
					 </div>



			</div>





		              <% user_link = User.find(review.user_id) %>
		                <div id="service-0<%=review.id%>" class="modal fade services-modal" role="dialog">
		                    <div class="modal-dialog">
		                        <!-- Modal content-->
		                        <div class="modal-content shadow">
		                            <a class="close" data-dismiss="modal"><span class="ti-close"></span></a>
		                            <div class="modal-body">
		                                <div class="post-entry post-entry-modal">

		                                   
		                                    	<div class = "row">
		                                    		<div class = "col-xs-12 col-md-6">
		                                    			 <%if review.book_cover%> <%= image_tag review.book_cover, style: "width: 100%"%><%end %>  
		                                    		</div>
		                                    		<div class = "col-xs-12 col-md-6">
				                                    	<h4 style = "margin-top: 20px;">La recommandation de 
				                                    	<%= link_to user_link, style: "color: #ff6b6b; text-decoration: underline;" do %>
													     <%=User.find(review.user_id).name%>
													    <% end %></h4>
														
													
															<span class="booktitle"><%=review.book_title%></span><br>
															<span class="bookauthor"> de <%=review.book_author %></span><br>
				                                        <span class = "bookcategory"><%=review.book_category %></span> 
				                                        <p><%=review.body%></p> 
		                                    		</div>
		                                    	</div>
		                                        
                                   
		                                                                  
		                                    
		                                </div>
		                            </div>
		                        </div>
		                   </div>
		                </div>





		

