<div class = "row">
	<div class="col-md-offset-4 col-md-4 col-xs-12">
 	    <div class="contact-form contact-form-box border mt-30 mb-30 pull-left">
                <h2 class = "headtitle"> Editer ta recommandation</h2><br>
            		<div class="new_form">
	                    <%= form_for @review, class: "mt-30", url: {action: "update"} do |f| %> 
	                        <div class="form-group">
	                         <%= f.text_field :book_title, class: "form-control", placeholder: "Titre du livre" %>	           
	                        </div><br>
	                        <div class="form-group">
	                         <%= f.text_field :book_author, class: "form-control", placeholder: "Auteur du livre" %>	           
	                        </div><br>
	                        <div class="form-group">
	                         <%= f.select :book_category, ['Romans',
	                        'BD, Comics, Mangas',
							'Poésie',
							'Théâtre',
							'Biographies / Mémoires',
							'Sciences humaines et sociales',
							'Philosophie, Essais littéraires',
							'Économie, Business, Politiques',
							'Développement personnel',
							'Autre'  ], :class => "form-control", placeholder: "Genre"%>	  
     
	                        </div><br>	                        
	                        <div class="form-group">
	                         <%= f.text_area :body, class: "form-control textreview", placeholder: "Dis nous pourquoi tu adores ce livre" %>           
	                        </div>

	                        <%= f.submit "Edite ta recommandation", class: "btn btn-primary btn-sm mt-10 col-md-12 btn-lg text-center float-right" %>
	                        <br><br>

			                <% if @review.errors.any? %>
						    	<div id="error_explanation">
								    <h2>
							        	<%= pluralize(@review.errors.count, "error") %> a empêché votre recommandation d'être sauvegardée:
									</h2>
								    <ul>
										<% @review.errors.full_messages.each do |msg| %>
									    <li><%= msg %></li>
										<% end %>
								    </ul>
							    </div>
						    <% end %>
	                    <%end%>
	                </div>
	    </div>
	</div>
</div>