  <div class = "container">
	<div class = "row">
		<div class = "col-xs-12 col-md-offset-3 col-md-6">
		   <h3 align="center" id="title_index">Les livres recommandés par vos voisins</h3><br>
		    <div class = "row" id="filterssection">		      				 			 
				 <div id = "filters">
                    <div id="filtersitems">
							<div id = "formfilters">
								<%= form_tag(choose_category_reviews_path, method: "get", id: "formfilter") do |f| %>

						              
							            <%= select_tag :zone, options_for_select(['à proximité', 'par code postal', 'France entière'])  %>
							            <%= select_tag :book_category, options_for_select(['Romans', 'BD, Comics, Mangas',
																	              'Poésie',
																	              'Théâtre',
																	              'Biographies / Mémoires',
																	              'Sciences humaines et sociales',
																	              'Philosophie, Essais littéraires',
																	              'Économie, Business, Politiques',
																	              'Développement personnel',
																	              'Autre']) %>
                                        <%= submit_tag "Rechercher", class: "btn btn-primary btn-sm mt-10" %>
                                  <% if @review_option %>
							        <%= link_to "Réinitialiser", reviews_path, style: "padding: 20px 0 0 20px;" %>
							      <% end %>	
						        <% end %>
					
					        </div>
				   </div>
		         </div>
	       </div>
	
            <div class = "row" id="resultphrase">
            	<span><%= @phrase %></span>
            </div>

			<div class = "row" id="feed">
			    <%= render @reviews %>
			</div>

			<div id="infinite-scrolling" style = "display: none;">
			  <%= will_paginate @reviews %>
			</div>

        </div>
    </div>
</div>
