<div align="center">
	<h3>Voici le commentaire</h3>
	Review : <%= @review.body %><br>
	Titre du livre : <%= @review.book_title %><br>
	Auteur du livre : <%= @review.book_author %><br>
	Genre : <%= @review.book_category %><br>
	<img src="<%= @review.book_cover %>">

</div>