<!DOCTYPE html>
<html>
  <head>
    <title>BouquinVoisin</title>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <%= favicon_link_tag "favicon.png"%>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

  	<%=render 'layouts/header'%>
    <%= yield %>
    <%=render 'layouts/footer'%>
  </body>
</html>
